@{
  Layout = "_Layout";
}

<h1>Welcome To Your Local Movie Finder</h1>

<p>@Html.ActionLink("Movies List", "Index", "Movies")</p> 
<p>@Html.ActionLink("Theaters List", "Index", "Theaters")</p>
